<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ if isset .Params "redir" }}
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0;url={{ .Params.redir }}">
    <title>Redirecting...</title>
  {{ end }}

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">
        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            {{ if isset .Params "id" }}

              {{ partial .Params.id . }}

            {{ else }}

            <div class="container">

                <div class="row">

                    <div class="col-md-12">

                        <div>
                          {{ .Content }}
                        </div>

                        {{ if isset .Params "redir" }}
                          <div>
                            If you are not redirected, <a href="{{ .Params.redir }}">click here</a>.
                          </div>
                        {{ end }}

                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

            {{ end }}
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
