<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
</head>

<body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">
                <div class="row">
                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-12" id="blog-listing-medium">


                        <div class="col-md-12">
                            <!-- <div><p></p></div> -->
                            {{ $paginator := .Paginate (where .Data.Pages "Type" "in" .Site.Params.mainSections) }}
                            <!----Range through markdown file in the main section page-->
                            {{ range $paginator.Pages }}
                            <div class="post col-md-12">
                                <section class="post">
                                    <div class="col-md-4" style="height:150px">
                                        <div class="col-md-12">
                                            {{ if isset .Params "date" }}
    
                                            {{ $createdAt := .Date.Format .Site.Params.date_format }}
                                            {{ range $index, $month := slice "January" "February" "March" "April" "May" "June" "July" "August" "September" "October" "November" "December" }}
                                            {{ $createdAt = replace $createdAt $month (i18n $month) }}
                                            {{ end }}
    
                                            <p class="date-comments" style="font-size: 25px">
                                                <a href="{{ .Permalink }}"> <i class="far fa-calendar"></i> {{ $createdAt }}</a>
                                            </p>
                                            {{ end }}
                                        </div>
    
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row">
                                            {{ if .Params.banner }}
    
                                            <div class="col-md-4">
                                                <div class="image">
                                                    <a href="{{ .Permalink }}">
                                                        {{ if .Params.banner }}
                                                        <img src="{{ .Params.banner | relURL }}" class="img-responsive"
                                                            alt="">
                                                        {{ else }}
                                                        <img src="{{ " img/placeholder.png" | relURL }}"
                                                            class="img-responsive" alt="">
                                                        {{ end }}
                                                    </a>
                                                </div>
                                                <div style="text-align:center">
                                                    <b> View recording
                                                        <a href="{{ .Permalink }}">here</a>
                                                    </b>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                                                {{ if isset .Params "logo" }}
                                                <img src="{{ .Params.logo | relURL }}" class="img-responsive" alt=""
                                                    style="width:50px; height:50px">
                                                {{end}}
                                                <br>
                                                <div class="clearfix">
                                                    <p class="author-category">
                                                        {{ if isset .Params "authors" }}
                                                        {{ i18n "authorBy" }} {{ range $index, $author := .Params.authors }}{{ if $index }}, {{ end }}
                                                        <!-- <a href="{{ (printf " %s/%s" ("authors" | relLangURL) ($author | urlize)) }}">{{ $author }}</a> -->
                                                        <a href='{{ (printf "%s" ($author.url | relLangURL)) }}'>{{ $author.name }}</a>
                                                        {{ end }}
                                                        {{ end }}
                                                        {{ if isset .Params "categories" }}
                                                        {{ if gt (len .Params.categories) 0 }}
                                                        in
                                                        {{ range $index, $category := .Params.categories }}{{ if $index }},
                                                        {{ end }}
                                                        <a href="{{ " categories/" | relLangURL }}{{ . | urlize | lower }}">{{ $category }}</a>{{ end }}
                                                        {{ end }}
                                                        {{ end }}
    
                                                    </p>
                                                    <strong>
                                                        {{ if isset .Params "descriptions" }}
                                                        {{ range $index, $description := .Params.descriptions }}
                                                        {{ if $index }} {{ end }}
                                                        {{ $description }}<br>{{ end }}
                                                        {{ end }}
                                                        <br>
                                                    </strong>
                                                    <!-- {{ if isset .Params "date" }}
         
                                                 {{ $createdAt := .Date.Format .Site.Params.date_format }}
                                                 {{ range $index, $month := slice "January" "February" "March" "April" "May" "June" "July" "August" "September" "October" "November" "December" }}
                                                 {{ $createdAt = replace $createdAt $month (i18n $month) }}
                                                 {{ end }}
         
                                                 <p class="date-comments">
                                                     <a href="{{ .Permalink }}"><i class="far fa-calendar"></i> {{ $createdAt }}</a>
                                                 </p>
                                                 {{ end }} -->
                                                </div>
                                                <!-- {{ if not .Site.Params.recent_posts.hide_summary }} -->
                                                <p class="intro">{{ .Params.summary }}</p>
                                                <p>Youtube link: 
                                                    <a href="{{ .Params.video }}" target="_blank">{{ .Params.video }}</a>
                                                </p>
                                                <!-- <p class="read-more"><a href="{{ .Permalink }}" class="btn btn-template-main">{{ i18n "continueReading" }}</a>
                                             </p> -->
                                                <!-- {{ end }} -->
                                            </div>
    
                                            {{ else }}
                                            <div class="col-md-12">
                                                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                                            </div>
                                            <strong style="padding-left: 1.5rem;">
                                                {{ if isset .Params "descriptions" }}
                                                {{ $n_desp := add (len .Params.descriptions) -1 }}
                                                {{ range $index, $description := .Params.descriptions }}
                                                {{ if lt $index $n_desp }}
                                                {{ $description }},&nbsp;
                                                {{ else }}
                                                {{ $description }}
                                                {{ end }}
                                                {{ end }}
                                                {{ end }}
                                                <br>
                                            </strong>
                                            {{ end }}
                                        </div>
                                    </div>
    
                                </section>
                            </div>
                            {{ end }}
                            
                        </div>
                        <div class="col-md-12">
                            <ul class="pager">
                                {{ if .Paginator.HasPrev }}
                                <li class="previous"><a href="{{ .Paginator.Prev.URL | relURL }}">&larr; {{ i18n "newer" }}</a></li>
                                {{ else }}
                                <li class="previous disabled"><a href="#">&larr; {{ i18n "newer" }}</a></li>
                                {{ end }}
    
                                {{ if .Paginator.HasNext }}
                                <li class="next"><a href="{{ .Paginator.Next.URL | relURL }}">{{ i18n "older" }}
                                        &rarr;</a>
                                </li>
                                {{ else }}
                                <li class="next disabled"><a href="#">{{ i18n "older" }} &rarr;</a></li>
                                {{ end }}
                            </ul>
                        </div>
                        <!-- <div class="col-md-2">
        
                            {{ partial "sidebar.html" . }}
     
                        </div> -->
                    </div>



                    <!-- /.col-md-9 -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN ***
       _________________________________________________________ -->
                    <!-- {{ $paginator := .Paginate (where .Data.Pages "Type" "in" .Site.Params.newsSections) }} -->
                    <!-- <div class="col-md-3">

                         *** MENUS AND WIDGETS *** 

                        {{ partial "sidebar.html" . }}

                    *** MENUS AND FILTERS END ***

                    </div>
                    /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

</body>

</html>